table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: var(--dark-bg-solid);
    color: #FAFAFF;
    padding: var(--spacing-8);
}

th, td {
    border: 1px solid var(--dark-solid);
    font-size: var(--font-medium);
}

tr {
    text-align: center;
}

.table__title {
    font-size: var(--font-large);
    padding: var(--spacing-8);
}

.table__pagination {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-24);
}

.table__pagination .pagination {
    gap: var(--spacing-8);
}