.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: var(--font-medium);
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-bg-btn);
    color: var(--light-font-solid);
    cursor: pointer;
    transition: border-color 0.25s;
}

.btn:hover {
    border-color: var(--primary-solid);
}

.btn:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}