@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

/* VARIABLES */
:root {
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #1e414180;
    --light-bg-solid: #FAFAFF;
    --dark-font-solid: #131111a9;
    --light-font-solid: #FFFFFF;   
    
    --primary-bg-btn: #0d6efd;
    --primary-hover-btn: #0b5ed7;
    --success-bg-btn: #198754;
    --success-hover-btn: #157347;
    --danger-bg-btn: #dc3545;
    --danger-hover-btn: #bb2d3b;

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    --spacing-196: 19.6rem;
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-30: 3rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-14: 1.4rem;
    --spacing-12: 1.2rem;
    --spacing-10: 1rem;
    --spacing-8: 0.8rem;
    --spacing-6: 0.6rem;
    --spacing-4: 0.4rem;
}
/* NORMALIZE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--base-font);
    font-size: 62.5%;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);    
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.container {
    min-width: 1200px;
    max-width: 1200px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.page .container {
    display: flex;
    flex-direction: column;
    justify-content: start;     
    align-items: center;
    gap: 2rem;
}

.page h1{    
    font-size: var(--font-display);
}