.account-menu {
    position: relative;
    display: inline-block;
    align-items: center;   
    text-align: center;
    justify-content: center;
    cursor: pointer;      
}
.account-menu:hover {
    background-color: var(--primary-900);
}
.account-menu__link {
    padding: 2rem;
    font-size: var(--font-medium);
}

.account-menu__icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.ico_user {
    height: var(--spacing-28);
    color: var(--light-font-solid);
    transition: color 0.3s ease; 
    height: 3.5rem;
}

.ico_user:hover {
    color: var(--dark-font-solid);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-bg-solid);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-menu li {
    min-width: 200px;
    min-height: 30px;   
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

.dropdown-menu li:hover:last-child {
    cursor: pointer;
    background-color: var(--light-bg-solid);
    color: var(--dark-bg-solid);
}

.dropdown-menu li:last-child {
    border-top: 1px solid #eee;
    background-color: rgb(212, 23, 23);    
    gap: 1rem;
}

.dropdown-menu__link {
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-xsmall);
    transition: background .3s ease-in-out;
}
.dropdown-menu__link:hover {
    background-color: var(--primary-900);
}