.shop-menu {
    position: relative;
    display: inline-block;
    align-items: center;   
    text-align: center;
    justify-content: center;
    cursor: pointer;      
}
.shop-menu__link {
    font-size: xx-large;
}

.shop-menu__icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}
.with-icon iconify-icon svg {
    color: var(--light-bg-solid);
}

.shop-menu__dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-bg-solid);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shop-menu__dropdown-menu li {
    min-width: 200px;
    min-height: 30px;   
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}